* {
   margin: 0; 
   padding: 0; 
   box-sizing: border-box;
   color: white;
}

body {
   width: 100vw;
   --brightOrange: hsl(31, 77%, 52%);
   --darkCyan: hsl(184, 100%, 22%);
   --veryDarkCyan: hsl(179, 100%, 13%);
   color: white;
}

h2 {
   font-family: 'Big Shoulders Display', cursive;
   font-size: 40px;
   text-transform: uppercase;
}

section p {
   font-family: 'Lexend Deca', sans-serif;
   font-size: 15px;
   line-height: 25px;
}

.content {
   background-color: white;
   margin: 24px auto;
   border-radius: 10px;
   overflow: hidden;
   width: 300px;
}

.content section {
   padding: 48px;
   min-height: 450px;
   display: flex;
   flex-direction: column;
   justify-content:space-between ;
}

.sedans {
   background-color: var(--brightOrange);
}
.suvs {
   background-color: var(--darkCyan);
}
.luxury{
   background-color: var(--veryDarkCyan);
}

button {
   border: none;
   border-radius: 24px;
   background-color: white;
   width: 146px;
   height: 48px;
   font-weight: bolder;
}
.sedans button {
   color: var(--brightOrange);
}
.suvs button {
   color: var(--darkCyan);
}
.luxury button {
   color: var(--veryDarkCyan);
}

.attribution {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   font-size: 10px;
}
.attribution p {
   color: #999
}
.attribution a {
   color: #555;
   text-decoration: none;
}

@media (min-width: 800px) and (orientation: landscape){
   .content {
      max-width: none;
      width: 85%;
      display: flex;
   }
}
