/* GENERAL STYLE - MOBILE FIRST */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-size: 15px;
   background-color: hsl(0, 0%, 95%);
   padding: 20px;
}
h2 {
   font-family: 'Big Shoulders Display', cursive;
   font-size: 2.5em;
   text-transform: uppercase;
   color: hsl(0, 0%, 95%);
}
p {
   font-family: 'Lexend Deca', sans-serif;
   color: hsla(0, 0%, 100%, 0.75);
   line-height: 1.5;
}
.content {
   overflow: hidden;
   max-width: 600px;
   margin: 50px auto;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   height: fit-content;
}
.section {
   padding: 50px;
   height: 450px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.sedans {
   background-color: hsl(31, 77%, 52%);
}
.suvs {
   background-color: hsl(184, 100%, 22%);
}
.luxury {
   background-color: hsl(179, 100%, 13%);
}
button {
   font-family: 'Lexend Deca', sans-serif;
   text-align: center;
   font-size: 15px;
   width: 150px;
   height: 50px;
   border: none;
   border-radius: 25px;
   mix-blend-mode: screen;
}
button:hover {
   color: #fff;
   background-color: none;
}

/* ATTRIBUTION */
.attribution {
   font-size: 11px; 
   text-align: center;
   margin-bottom: 10px;
}
.attribution a { 
   color: hsl(228, 45%, 44%);
}

/* STYLE VARIATION FOR TABLETS AND DESKTOPS */
@media (min-width: 780px) {
   body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
   }
   .content {
      margin: auto;
      flex-direction: row;
      max-width: 1000px;
   }
   .attribution {
      position: absolute;
      bottom: 0;
      left: 0; right: 0;
   }
}
